USE [master]
GO
/****** Object:  Database [ConexionSolidaria]    Script Date: 1/6/2026 11:10:17 a.m. ******/
CREATE DATABASE [ConexionSolidaria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConexionSolidaria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ConexionSolidaria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ConexionSolidaria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ConexionSolidaria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConexionSolidaria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConexionSolidaria]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 1/6/2026 11:10:17 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[EstadoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK__Estado__FEF86B6098621DD5] PRIMARY KEY CLUSTERED 
(
	[EstadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 1/6/2026 11:10:17 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[EventoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](7) NULL,
	[HoraFin] [time](7) NULL,
	[Lugar] [nvarchar](150) NOT NULL,
	[CupoMaximo] [int] NOT NULL,
	[CupoDisponible] [int] NOT NULL,
	[UsuarioCreadorID] [int] NOT NULL,
	[EstadoID] [int] NULL,
 CONSTRAINT [PK__Evento__1EEB59010AA4BEDB] PRIMARY KEY CLUSTERED 
(
	[EventoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripcion]    Script Date: 1/6/2026 11:10:17 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripcion](
	[InscripcionID] [int] IDENTITY(1,1) NOT NULL,
	[VoluntarioID] [int] NOT NULL,
	[EventoID] [int] NOT NULL,
	[FechaInscripcion] [datetime] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[EstadoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InscripcionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 1/6/2026 11:10:17 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[PersonaID] [int] IDENTITY(1,1) NOT NULL,
	[PrimerNombre] [nvarchar](100) NOT NULL,
	[SegundoNombre] [nvarchar](100) NULL,
	[PrimerApellido] [nvarchar](100) NOT NULL,
	[SegundoApellido] [nvarchar](100) NULL,
	[DNI] [nchar](20) NOT NULL,
	[Genero] [nvarchar](20) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Direccion] [nvarchar](100) NULL,
 CONSTRAINT [PK__Persona__7C34D32376D49789] PRIMARY KEY CLUSTERED 
(
	[PersonaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 1/6/2026 11:10:17 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TokenRegistroTemporal]    Script Date: 1/6/2026 11:10:17 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TokenRegistroTemporal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Token] [char](6) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaExpiracion] [datetime] NOT NULL,
	[DatosJsonPayload] [nvarchar](max) NOT NULL,
	[IntentosFallidos] [int] NULL,
	[Validado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 1/6/2026 11:10:17 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[PersonaID] [int] NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[EstadoID] [int] NOT NULL,
	[DebeCambiarPassword] [bit] NOT NULL,
 CONSTRAINT [PK__Usuario__2B3DE7984E7964EA] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioRol]    Script Date: 1/6/2026 11:10:17 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRol](
	[UsuarioID] [int] NOT NULL,
	[RolID] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioRol] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC,
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voluntario]    Script Date: 1/6/2026 11:10:17 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voluntario](
	[VoluntarioID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Habilidades] [nchar](100) NULL,
	[HorasAcumuladas] [int] NOT NULL,
	[EstadoID] [int] NULL,
 CONSTRAINT [PK__Voluntar__47C2E0FFBAD48A85] PRIMARY KEY CLUSTERED 
(
	[VoluntarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([EstadoID], [NombreEstado]) VALUES (1, N'Programado')
INSERT [dbo].[Estado] ([EstadoID], [NombreEstado]) VALUES (2, N'Realizado')
INSERT [dbo].[Estado] ([EstadoID], [NombreEstado]) VALUES (3, N'Cancelado')
SET IDENTITY_INSERT [dbo].[Estado] OFF
GO
SET IDENTITY_INSERT [dbo].[Evento] ON 

INSERT [dbo].[Evento] ([EventoID], [Nombre], [Fecha], [HoraInicio], [HoraFin], [Lugar], [CupoMaximo], [CupoDisponible], [UsuarioCreadorID], [EstadoID]) VALUES (1, N'Feria de Emprendimiento Solidario: Impulsando Ideas Locales', CAST(N'2026-06-09' AS Date), CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), N'Uni versidad de Managua', 10, 8, 1, 1)
SET IDENTITY_INSERT [dbo].[Evento] OFF
GO
SET IDENTITY_INSERT [dbo].[Inscripcion] ON 

INSERT [dbo].[Inscripcion] ([InscripcionID], [VoluntarioID], [EventoID], [FechaInscripcion], [Estado], [EstadoID]) VALUES (1, 4, 1, CAST(N'2026-06-01T10:17:46.057' AS DateTime), N'Activa', 4)
INSERT [dbo].[Inscripcion] ([InscripcionID], [VoluntarioID], [EventoID], [FechaInscripcion], [Estado], [EstadoID]) VALUES (2, 5, 1, CAST(N'2026-06-01T10:35:05.533' AS DateTime), N'Activa', 4)
SET IDENTITY_INSERT [dbo].[Inscripcion] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([PersonaID], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [DNI], [Genero], [FechaNacimiento], [Email], [Telefono], [Direccion]) VALUES (1, N'Milton', N'Ramón', N'Navarrete', N'Muñoz', N'0030507889142N      ', N'Masculino', CAST(N'1988-07-05' AS Date), N'mnavarrete@udem.edu.ni', N'8888-3333', N'Colonia 14 de Septiembre, Managua')
INSERT [dbo].[Persona] ([PersonaID], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [DNI], [Genero], [FechaNacimiento], [Email], [Telefono], [Direccion]) VALUES (5, N'Isaac', N'Antonio', N'Barrera', NULL, N'0010106860022Q      ', N'M', CAST(N'1986-06-01' AS Date), N'ibarrera@udem.edu.ni', N'88888888', N'Su casa de Habitacion')
INSERT [dbo].[Persona] ([PersonaID], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [DNI], [Genero], [FechaNacimiento], [Email], [Telefono], [Direccion]) VALUES (6, N'Hector', NULL, N'Calero', NULL, N'0010208200089T      ', N'M', CAST(N'2000-08-02' AS Date), N'hcalero@udem.edu.ni', N'8888888', N'su casa doral')
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([RolID], [NombreRol], [Descripcion]) VALUES (1, N'Voluntario', N'Usuario que participa en eventos')
INSERT [dbo].[Rol] ([RolID], [NombreRol], [Descripcion]) VALUES (2, N'Coordinador', N'Usuario que organiza eventos')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[TokenRegistroTemporal] ON 

SET IDENTITY_INSERT [dbo].[TokenRegistroTemporal] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioID], [PersonaID], [Contrasena], [EstadoID], [DebeCambiarPassword]) VALUES (1, 1, N'$2a$11$4A1jEMM1hc4kaGcogceeQuTfS2Bn4Y3EIoZjedCPf.LuYKXaWtCXC', 1, 0)
INSERT [dbo].[Usuario] ([UsuarioID], [PersonaID], [Contrasena], [EstadoID], [DebeCambiarPassword]) VALUES (5, 5, N'$2a$11$S/BicN5ixRiGCZVrK.hrgOQOxgeS0CoeIldsMBp7QT0Dy4wbnYH7.', 1, 0)
INSERT [dbo].[Usuario] ([UsuarioID], [PersonaID], [Contrasena], [EstadoID], [DebeCambiarPassword]) VALUES (6, 6, N'$2a$11$A.WdUaLBnW12ewhYe7X2j.yowcrGyxJyWBkAdiN3UtIGofdQS8bLy', 1, 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[UsuarioRol] ([UsuarioID], [RolID]) VALUES (1, 2)
INSERT [dbo].[UsuarioRol] ([UsuarioID], [RolID]) VALUES (5, 1)
INSERT [dbo].[UsuarioRol] ([UsuarioID], [RolID]) VALUES (6, 1)
GO
SET IDENTITY_INSERT [dbo].[Voluntario] ON 

INSERT [dbo].[Voluntario] ([VoluntarioID], [UsuarioID], [Habilidades], [HorasAcumuladas], [EstadoID]) VALUES (4, 5, NULL, 0, 4)
INSERT [dbo].[Voluntario] ([VoluntarioID], [UsuarioID], [Habilidades], [HorasAcumuladas], [EstadoID]) VALUES (5, 6, NULL, 0, 4)
SET IDENTITY_INSERT [dbo].[Voluntario] OFF
GO
/****** Object:  Index [UQ_Voluntario_Evento]    Script Date: 1/6/2026 11:10:17 a.m. ******/
ALTER TABLE [dbo].[Inscripcion] ADD  CONSTRAINT [UQ_Voluntario_Evento] UNIQUE NONCLUSTERED 
(
	[VoluntarioID] ASC,
	[EventoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rol__4F0B537F9F49203B]    Script Date: 1/6/2026 11:10:17 a.m. ******/
ALTER TABLE [dbo].[Rol] ADD UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TokenRegistro_Email]    Script Date: 1/6/2026 11:10:18 a.m. ******/
CREATE NONCLUSTERED INDEX [IX_TokenRegistro_Email] ON [dbo].[TokenRegistroTemporal]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inscripcion] ADD  DEFAULT (getdate()) FOR [FechaInscripcion]
GO
ALTER TABLE [dbo].[Inscripcion] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [dbo].[TokenRegistroTemporal] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[TokenRegistroTemporal] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[TokenRegistroTemporal] ADD  DEFAULT ((0)) FOR [Validado]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuario__Estado__60A75C0F]  DEFAULT ('Activo') FOR [EstadoID]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuario__DebeCam__02FC7413]  DEFAULT ((1)) FOR [DebeCambiarPassword]
GO
ALTER TABLE [dbo].[Voluntario] ADD  CONSTRAINT [DF__Voluntari__Horas__6B24EA82]  DEFAULT ((0)) FOR [HorasAcumuladas]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Estado]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Usuario] FOREIGN KEY([UsuarioCreadorID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Usuario]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Estado]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Evento] FOREIGN KEY([EventoID])
REFERENCES [dbo].[Evento] ([EventoID])
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Evento]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Voluntario] FOREIGN KEY([VoluntarioID])
REFERENCES [dbo].[Voluntario] ([VoluntarioID])
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Voluntario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Estado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Persona] FOREIGN KEY([PersonaID])
REFERENCES [dbo].[Persona] ([PersonaID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Persona]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[Rol] ([RolID])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Rol]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Usuario]
GO
ALTER TABLE [dbo].[Voluntario]  WITH CHECK ADD  CONSTRAINT [FK_Voluntario_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Voluntario] CHECK CONSTRAINT [FK_Voluntario_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[USP_AUTH]    Script Date: 1/6/2026 11:10:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_AUTH]
(
    @ACCION NVARCHAR(30),
    @EMAIL NVARCHAR(150) = NULL,
    @UsuarioID INT = NULL,
    @NuevaPassword NVARCHAR(255) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    
    -- LOGIN
    
    IF @ACCION = 'LOGIN'
    BEGIN
        SELECT 
            U.UsuarioID,
            V.VoluntarioID,
            P.PrimerNombre,
            P.PrimerApellido,
            U.Contrasena,       
            R.RolID,
            R.NombreRol,
            U.DebeCambiarPassword
        FROM Persona P

        INNER JOIN Usuario U 
            ON U.PersonaID = P.PersonaID

        LEFT JOIN Voluntario V
            ON V.UsuarioID = U.UsuarioID

        INNER JOIN UsuarioRol UR 
            ON UR.UsuarioID = U.UsuarioID

        INNER JOIN Rol R 
            ON R.RolID = UR.RolID

        WHERE 
            P.Email = @EMAIL
            AND U.EstadoID = 1
    END

    
    -- OBTENER HASH
    
    IF @ACCION = 'GET_HASH'
    BEGIN
        SELECT Contrasena
        FROM Usuario
        WHERE UsuarioID = @UsuarioID
    END

    
    -- CAMBIAR PASSWORD
    
    IF @ACCION = 'CHANGE_PASSWORD'
    BEGIN
        UPDATE Usuario
        SET 
            Contrasena = @NuevaPassword,
            DebeCambiarPassword = 0
        WHERE UsuarioID = @UsuarioID
    END

END
GO
/****** Object:  StoredProcedure [dbo].[USP_DASHBOARD]    Script Date: 1/6/2026 11:10:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_DASHBOARD]
    @Opcion INT
AS
BEGIN
    SET NOCOUNT ON;

    IF @Opcion = 1
    BEGIN
        SELECT
            e.EventoID,
            e.Nombre,
            e.Fecha,
            e.HoraInicio,
            e.HoraFin,
            e.Lugar,
            e.CupoMaximo,
            e.CupoDisponible,
            est.NombreEstado AS EstadoEvento,
            COUNT(i.InscripcionID) AS TotalInscritos
        FROM Evento e
        INNER JOIN Estado est 
            ON est.EstadoID = e.EstadoID
        LEFT JOIN Inscripcion i
            ON i.EventoID = e.EventoID
            AND i.EstadoID = 4
        GROUP BY
            e.EventoID,
            e.Nombre,
            e.Fecha,
            e.HoraInicio,
            e.HoraFin,
            e.Lugar,
            e.CupoMaximo,
            e.CupoDisponible,
            est.NombreEstado
        ORDER BY e.Fecha, e.HoraInicio;

        RETURN;
    END

    IF @Opcion = 2
    BEGIN
        SELECT
            CONCAT(p.PrimerNombre, ' ', p.PrimerApellido) AS NombreVoluntario,
            e.Nombre AS Evento,
            e.Fecha AS FechaEvento,
            e.HoraInicio,
            e.HoraFin,
            i.FechaInscripcion,
            est.NombreEstado AS EstadoInscripcion
        FROM Inscripcion i
        INNER JOIN Evento e 
            ON e.EventoID = i.EventoID
        INNER JOIN Voluntario v 
            ON v.VoluntarioID = i.VoluntarioID
        INNER JOIN Usuario u 
            ON u.UsuarioID = v.UsuarioID
        INNER JOIN Persona p 
            ON p.PersonaID = u.PersonaID
        INNER JOIN Estado est 
            ON est.EstadoID = i.EstadoID
        WHERE est.NombreEstado <> 'Inactivo'
        ORDER BY e.Fecha, e.HoraInicio, p.PrimerNombre;

        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVENTO]    Script Date: 1/6/2026 11:10:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_EVENTO]
    @Opcion INT,
    @EventoID INT = NULL,
    @Nombre NVARCHAR(150) = NULL,
    @Fecha DATE = NULL,
    @HoraInicio TIME = NULL,
    @HoraFin TIME = NULL,
    @Lugar NVARCHAR(200) = NULL,
    @CupoMaximo INT = NULL,
    @UsuarioCreadorID INT = NULL,
    @EstadoID INT = 1,
    @VoluntarioID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Opcion NOT IN (1,2,3)
    BEGIN
        SELECT 'Opción no válida' AS Error;
        RETURN;
    END

    IF @HoraInicio IS NOT NULL AND @HoraFin IS NOT NULL AND @HoraFin <= @HoraInicio
    BEGIN
        SELECT 'La hora de fin debe ser mayor que la hora de inicio' AS Error;
        RETURN;
    END


    IF @Opcion = 1
    BEGIN

        IF @Nombre IS NULL 
           OR @Fecha IS NULL
           OR @HoraInicio IS NULL
           OR @HoraFin IS NULL
           OR @Lugar IS NULL 
           OR @CupoMaximo IS NULL
           OR @UsuarioCreadorID IS NULL
        BEGIN
            SELECT 'Faltan campos obligatorios' AS Error;
            RETURN;
        END

        IF EXISTS (
            SELECT 1
            FROM Evento
            WHERE Fecha = @Fecha
            AND Lugar = @Lugar
            AND (
                @HoraInicio < HoraFin
                AND
                @HoraFin > HoraInicio
            )
        )
        BEGIN
            SELECT 'Ya existe un evento en ese lugar y horario para esa fecha' AS Error;
            RETURN;
        END


        INSERT INTO Evento (
            Nombre,
            Fecha,
            HoraInicio,
            HoraFin,
            Lugar,
            CupoMaximo,
            CupoDisponible,
            UsuarioCreadorID,
            EstadoID
        )
        VALUES (
            @Nombre,
            @Fecha,
            @HoraInicio,
            @HoraFin,
            @Lugar,
            @CupoMaximo,
            @CupoMaximo,
            @UsuarioCreadorID,
            @EstadoID
        );

        SELECT 'Evento creado correctamente' AS Mensaje;
        RETURN;
    END


    IF @Opcion = 2
    BEGIN

        IF @EventoID IS NULL
        BEGIN
            SELECT 'EventoID requerido' AS Error;
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM Evento WHERE EventoID = @EventoID)
        BEGIN
            SELECT 'Evento no existe' AS Error;
            RETURN;
        END


        DECLARE @TotalInscritos INT;

        SELECT @TotalInscritos = COUNT(*)
        FROM Inscripcion
        WHERE EventoID = @EventoID
        AND EstadoID = 4;


        IF @CupoMaximo IS NOT NULL AND @CupoMaximo < @TotalInscritos
        BEGIN
            SELECT 'Error: No se puede reducir el cupo a ' 
                   + CAST(@CupoMaximo AS VARCHAR)
                   + ' porque ya existen '
                   + CAST(@TotalInscritos AS VARCHAR)
                   + ' personas inscritas.' AS Error;
            RETURN;
        END


        DECLARE @FechaFinal DATE =
            ISNULL(@Fecha, (SELECT Fecha FROM Evento WHERE EventoID = @EventoID));

        DECLARE @HoraInicioFinal TIME =
            ISNULL(@HoraInicio, (SELECT HoraInicio FROM Evento WHERE EventoID = @EventoID));

        DECLARE @HoraFinFinal TIME =
            ISNULL(@HoraFin, (SELECT HoraFin FROM Evento WHERE EventoID = @EventoID));

        DECLARE @LugarFinal NVARCHAR(200) =
            ISNULL(@Lugar, (SELECT Lugar FROM Evento WHERE EventoID = @EventoID));

        IF EXISTS (
            SELECT 1
            FROM Evento
            WHERE Fecha = @FechaFinal
            AND Lugar = @LugarFinal
            AND EventoID <> @EventoID
            AND (
                @HoraInicioFinal < HoraFin
                AND
                @HoraFinFinal > HoraInicio
            )
        )
        BEGIN
            SELECT 'Ya existe otro evento en ese lugar y horario para esa fecha' AS Error;
            RETURN;
        END


        UPDATE Evento
        SET
            Nombre = ISNULL(@Nombre, Nombre),
            Fecha = ISNULL(@Fecha, Fecha),
            HoraInicio = ISNULL(@HoraInicio, HoraInicio),
            HoraFin = ISNULL(@HoraFin, HoraFin),
            Lugar = ISNULL(@Lugar, Lugar),
            CupoMaximo = ISNULL(@CupoMaximo, CupoMaximo),
            CupoDisponible = CASE 
                                WHEN @CupoMaximo IS NOT NULL 
                                THEN (@CupoMaximo - @TotalInscritos)
                                ELSE CupoDisponible 
                             END,
            EstadoID = ISNULL(@EstadoID, EstadoID)
        WHERE EventoID = @EventoID;

        SELECT 'Evento actualizado correctamente' AS Mensaje;
        RETURN;
    END



    IF @Opcion = 3
    BEGIN

        SELECT
            E.EventoID,
            E.Nombre,
            E.Fecha,
            E.HoraInicio,
            E.HoraFin,
            E.Lugar,
            E.CupoMaximo,
            E.CupoDisponible,
            E.EstadoID,

            CASE 
                WHEN @VoluntarioID IS NOT NULL
                     AND EXISTS (
                        SELECT 1
                        FROM Inscripcion I
                        WHERE I.EventoID = E.EventoID
                        AND I.VoluntarioID = @VoluntarioID
                        AND I.EstadoID = 4
                     )
                THEN 1 ELSE 0
            END AS EstaInscrito

        FROM Evento E

        WHERE (@VoluntarioID IS NOT NULL AND E.EstadoID = 1)
           OR (@VoluntarioID IS NULL AND E.EstadoID IN (1,2,3))

        ORDER BY E.Fecha ASC, E.HoraInicio ASC;

        RETURN;
    END

END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSCRIPCION]    Script Date: 1/6/2026 11:10:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_INSCRIPCION]
    @Opcion INT,
    @EventoID INT = NULL,
    @VoluntarioID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Opcion NOT IN (1,2,3)
    BEGIN
        SELECT 'OPCION_INVALIDA' AS Resultado;
        RETURN;
    END
    IF @Opcion = 1
    BEGIN
        IF @EventoID IS NULL OR @VoluntarioID IS NULL
        BEGIN
            SELECT 'DATOS_INCOMPLETOS' AS Resultado;
            RETURN;
        END

        IF EXISTS (
            SELECT 1 FROM Inscripcion
            WHERE EventoID = @EventoID
              AND VoluntarioID = @VoluntarioID
              AND EstadoID = 4
        )
        BEGIN
            SELECT 'YA_INSCRITO' AS Resultado;
            RETURN;
        END

        IF NOT EXISTS (
            SELECT 1 FROM Evento
            WHERE EventoID = @EventoID
              AND CupoDisponible > 0
              AND EstadoID = 1
        )
        BEGIN
            SELECT 'SIN_CUPO' AS Resultado;
            RETURN;
        END

        BEGIN TRAN;

        IF EXISTS (
            SELECT 1 FROM Inscripcion
            WHERE EventoID = @EventoID
              AND VoluntarioID = @VoluntarioID
              AND EstadoID = 7
        )
        BEGIN
            UPDATE Inscripcion
            SET EstadoID = 4,
                Estado = 'Activa',
                FechaInscripcion = GETDATE()
            WHERE EventoID = @EventoID
              AND VoluntarioID = @VoluntarioID;
        END
        ELSE
        BEGIN
            INSERT INTO Inscripcion
            (
                VoluntarioID,
                EventoID,
                FechaInscripcion,
                Estado,
                EstadoID
            )
            VALUES
            (
                @VoluntarioID,
                @EventoID,
                GETDATE(),
                'Activa',
                4
            );
        END

        COMMIT;

        SELECT 'OK' AS Resultado;
        RETURN;
    END

    IF @Opcion = 2
    BEGIN
        IF NOT EXISTS (
            SELECT 1 FROM Inscripcion
            WHERE EventoID = @EventoID
              AND VoluntarioID = @VoluntarioID
              AND EstadoID = 4
        )
        BEGIN
            SELECT 'NO_INSCRIPCION_ACTIVA' AS Resultado;
            RETURN;
        END

        BEGIN TRAN;

        UPDATE Inscripcion
        SET EstadoID = 7,
            Estado = 'Inactiva'
        WHERE EventoID = @EventoID
          AND VoluntarioID = @VoluntarioID
          AND EstadoID = 4;

        COMMIT;

        SELECT 'DESINSCRITO' AS Resultado;
        RETURN;
    END

    IF @Opcion = 3
    BEGIN
        SELECT
            e.EventoID,
            e.Nombre,
            e.Fecha,
            e.Lugar,
            i.FechaInscripcion,
            i.Estado,
            i.EstadoID
        FROM Inscripcion i
        INNER JOIN Evento e ON e.EventoID = i.EventoID
        WHERE i.VoluntarioID = @VoluntarioID
          AND i.EstadoID = 4
        ORDER BY e.Fecha;
        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LOGIN]    Script Date: 1/6/2026 11:10:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_LOGIN]
(
    @EMAIL NVARCHAR(150)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        U.UsuarioID,
        V.VoluntarioID,
        P.PrimerNombre,
        P.PrimerApellido,
        U.Contrasena,       
        R.RolID,
        R.NombreRol,
        U.DebeCambiarPassword
    FROM Persona P

    INNER JOIN Usuario U 
        ON U.PersonaID = P.PersonaID

    LEFT JOIN Voluntario V
        ON V.UsuarioID = U.UsuarioID

    INNER JOIN UsuarioRol UR 
        ON UR.UsuarioID = U.UsuarioID

    INNER JOIN Rol R 
        ON R.RolID = UR.RolID

    WHERE 
        P.Email = @EMAIL
        AND U.EstadoID = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PERSONA]    Script Date: 1/6/2026 11:10:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_PERSONA]
    @Opcion INT,

    @PersonaID INT = NULL,
    @PrimerNombre NVARCHAR(50) = NULL,
    @SegundoNombre NVARCHAR(50) = NULL,
    @PrimerApellido NVARCHAR(50) = NULL,
    @SegundoApellido NVARCHAR(50) = NULL,
    @DNI NVARCHAR(20) = NULL,
    @Genero CHAR(1) = NULL,
    @FechaNacimiento DATE = NULL,
    @Email NVARCHAR(100) = NULL,
    @Telefono NVARCHAR(20) = NULL,
    @Direccion NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF @Opcion NOT IN (1, 2, 3)
        BEGIN
            SELECT 'Opción no válida' AS Error;
            RETURN;
        END
        IF @Opcion = 1
        BEGIN
            IF @PrimerNombre IS NULL 
               OR @PrimerApellido IS NULL 
               OR @DNI IS NULL 
               OR @Genero IS NULL
            BEGIN
                SELECT 'Faltan campos obligatorios' AS Error;
                RETURN;
            END

            IF EXISTS (SELECT 1 FROM Persona WHERE DNI = @DNI)
            BEGIN
                SELECT 'El DNI ya está registrado' AS Error;
                RETURN;
            END

            IF @Email IS NOT NULL 
               AND EXISTS (SELECT 1 FROM Persona WHERE Email = @Email)
            BEGIN
                SELECT 'El Email ya está registrado' AS Error;
                RETURN;
            END

            INSERT INTO Persona (
                PrimerNombre,
                SegundoNombre,
                PrimerApellido,
                SegundoApellido,
                DNI,
                Genero,
                FechaNacimiento,
                Email,
                Telefono,
                Direccion
            )
            VALUES (
                @PrimerNombre,
                @SegundoNombre,
                @PrimerApellido,
                @SegundoApellido,
                @DNI,
                @Genero,
                @FechaNacimiento,
                @Email,
                @Telefono,
                @Direccion
            );

            SELECT 
                'Persona creada correctamente' AS Mensaje,
                SCOPE_IDENTITY() AS PersonaID;
        END

        ELSE IF @Opcion = 2
        BEGIN
            IF @PersonaID IS NULL
            BEGIN
                SELECT 'PersonaID es obligatorio para editar' AS Error;
                RETURN;
            END

            IF NOT EXISTS (SELECT 1 FROM Persona WHERE PersonaID = @PersonaID)
            BEGIN
                SELECT 'La persona no existe' AS Error;
                RETURN;
            END

            IF EXISTS (
                SELECT 1 FROM Persona 
                WHERE DNI = @DNI 
                  AND PersonaID <> @PersonaID
            )
            BEGIN
                SELECT 'El DNI ya pertenece a otra persona' AS Error;
                RETURN;
            END

            IF @Email IS NOT NULL AND EXISTS (
                SELECT 1 FROM Persona 
                WHERE Email = @Email 
                  AND PersonaID <> @PersonaID
            )
            BEGIN
                SELECT 'El Email ya pertenece a otra persona' AS Error;
                RETURN;
            END

            UPDATE Persona
            SET
                PrimerNombre = @PrimerNombre,
                SegundoNombre = @SegundoNombre,
                PrimerApellido = @PrimerApellido,
                SegundoApellido = @SegundoApellido,
                DNI = @DNI,
                Genero = @Genero,
                FechaNacimiento = @FechaNacimiento,
                Email = @Email,
                Telefono = @Telefono,
                Direccion = @Direccion
            WHERE PersonaID = @PersonaID;

            SELECT 'Persona actualizada correctamente' AS Mensaje;
        END

        ELSE IF @Opcion = 3
        BEGIN
            SELECT
                PersonaID,

                CONCAT_WS(' ',
                    PrimerNombre,
                    SegundoNombre,
                    PrimerApellido,
                    SegundoApellido
                ) AS NombreCompleto,

                PrimerNombre,
                SegundoNombre,
                PrimerApellido,
                SegundoApellido,

                DNI,
                Genero,
                FechaNacimiento,
                DATEDIFF(YEAR, FechaNacimiento, GETDATE()) -
                    CASE
                        WHEN MONTH(FechaNacimiento) > MONTH(GETDATE()) THEN 1
                        WHEN MONTH(FechaNacimiento) < MONTH(GETDATE()) THEN 0
                        WHEN DAY(FechaNacimiento) > DAY(GETDATE()) THEN 1
                        ELSE 0
                    END AS Edad,

                Email,
                Telefono,
                Direccion
            FROM Persona
            ORDER BY PrimerApellido, PrimerNombre;
        END

    END TRY
    BEGIN CATCH
        SELECT 
            ERROR_MESSAGE() AS Error,
            ERROR_LINE() AS Linea;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_PERSONAS_SIN_USUARIO]    Script Date: 1/6/2026 11:10:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_PERSONAS_SIN_USUARIO]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        P.PersonaID,
        CONCAT_WS(' ',
            P.PrimerNombre,
            P.SegundoNombre,
            P.PrimerApellido,
            P.SegundoApellido
        ) AS NombreCompleto,
        P.Email
    FROM Persona P
    LEFT JOIN Usuario U ON P.PersonaID = U.PersonaID
    WHERE U.UsuarioID IS NULL
    ORDER BY P.PrimerApellido, P.PrimerNombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_REGISTRO]    Script Date: 1/6/2026 11:10:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_REGISTRO]
(
    @PrimerNombre NVARCHAR(50),
    @SegundoNombre NVARCHAR(50) = NULL,
    @PrimerApellido NVARCHAR(50),
    @SegundoApellido NVARCHAR(50) = NULL,
    @DNI NVARCHAR(20),
    @Genero CHAR(1),
    @FechaNacimiento DATE = NULL,
    @Email NVARCHAR(100),
    @Telefono NVARCHAR(20) = NULL,
    @Direccion NVARCHAR(200) = NULL,
    @PasswordHash NVARCHAR(255) 
)
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Validaciones previas obligatorias
    IF @PrimerNombre IS NULL OR @PrimerApellido IS NULL OR @DNI IS NULL OR @Genero IS NULL OR @Email IS NULL
    BEGIN
        SELECT 'Error' AS Status, 'Faltan campos obligatorios para procesar el registro.' AS Mensaje;
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.Persona WHERE DNI = @DNI)
    BEGIN
        SELECT 'Error' AS Status, 'El DNI de este voluntario ya se encuentra registrado en el sistema.' AS Mensaje;
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.Persona WHERE Email = @Email)
    BEGIN
        SELECT 'Error' AS Status, 'El correo electrónico ya se encuentra registrado en el sistema.' AS Mensaje;
        RETURN;
    END

    -- Parches preventivos de datos
    IF @Genero = '' SET @Genero = 'M';
    IF @PasswordHash IS NULL OR @PasswordHash = ''
    BEGIN
        SET @PasswordHash = 'UdeM' + RIGHT(ISNULL(@DNI, '123456'), 6);
    END

    -- 2. Proceso de inserción transaccional
    BEGIN TRY
        BEGIN TRAN

        INSERT INTO dbo.Persona
        (
            PrimerNombre, SegundoNombre, PrimerApellido, SegundoApellido,
            DNI, Genero, FechaNacimiento, Email, Telefono, Direccion
        )
        VALUES
        (
            @PrimerNombre, @SegundoNombre, @PrimerApellido, @SegundoApellido,
            @DNI, @Genero, @FechaNacimiento, @Email, @Telefono, @Direccion
        )

        DECLARE @PersonaID INT = SCOPE_IDENTITY();

        INSERT INTO dbo.Usuario
        (
            PersonaID, Contrasena, EstadoID, DebeCambiarPassword
        )
        VALUES
        (
            @PersonaID, @PasswordHash, 1, 1
        )

        DECLARE @UsuarioID INT = SCOPE_IDENTITY();

        INSERT INTO dbo.UsuarioRol (UsuarioID, RolID)
        VALUES (@UsuarioID, 1);

        COMMIT TRAN

        -- Retorno estandarizado de Éxito
        SELECT 'Success' AS Status, '¡Cuenta activada y creada correctamente en el sistema!' AS Mensaje;

    END TRY
    BEGIN CATCH
        -- Verificación de transacción activa antes del rollback
        IF @@TRANCOUNT > 0 OR XACT_STATE() <> 0
        BEGIN
            ROLLBACK TRAN;
        END

        SELECT 'Error' AS Status, 'Fallo crítico en el proceso de asentamiento: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_USUARIO]    Script Date: 1/6/2026 11:10:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_USUARIO]
    @Opcion INT,

    @UsuarioID INT = NULL,
    @PersonaID INT = NULL,
    @Contrasena NVARCHAR(255) = NULL,
    @RolID INT = NULL,
    @EstadoID INT = 1
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF @Opcion NOT IN (1,2,3)
        BEGIN
            SELECT 'Opción no válida' AS Error;
            RETURN;
        END

        IF @Opcion = 1
        BEGIN
            IF @PersonaID IS NULL OR @Contrasena IS NULL OR @RolID IS NULL
            BEGIN
                SELECT 'Faltan campos obligatorios' AS Error;
                RETURN;
            END

            IF NOT EXISTS (SELECT 1 FROM Persona WHERE PersonaID = @PersonaID)
            BEGIN
                SELECT 'La persona no existe' AS Error;
                RETURN;
            END

            IF EXISTS (SELECT 1 FROM Usuario WHERE PersonaID = @PersonaID)
            BEGIN
                SELECT 'La persona ya tiene un usuario asignado' AS Error;
                RETURN;
            END

            IF NOT EXISTS (SELECT 1 FROM Rol WHERE RolID = @RolID)
            BEGIN
                SELECT 'El rol no existe' AS Error;
                RETURN;
            END

            IF EXISTS (
                SELECT 1
                FROM Usuario U
                INNER JOIN Persona P ON U.PersonaID = P.PersonaID
                WHERE P.Email = (
                    SELECT Email FROM Persona WHERE PersonaID = @PersonaID
                )
            )
            BEGIN
                SELECT 'Ya existe un usuario con ese correo' AS Error;
                RETURN;
            END

            INSERT INTO Usuario (PersonaID, Contrasena, EstadoID)
            VALUES (@PersonaID, @Contrasena, @EstadoID);

            DECLARE @NuevoUsuarioID INT = SCOPE_IDENTITY();

            INSERT INTO UsuarioRol (UsuarioID, RolID)
            VALUES (@NuevoUsuarioID, @RolID);

            SELECT 
                'Usuario creado correctamente' AS Mensaje,
                @NuevoUsuarioID AS UsuarioID;
        END

        ELSE IF @Opcion = 2
        BEGIN
            IF @UsuarioID IS NULL OR @RolID IS NULL
            BEGIN
                SELECT 'UsuarioID y RolID son obligatorios' AS Error;
                RETURN;
            END

            IF NOT EXISTS (SELECT 1 FROM Usuario WHERE UsuarioID = @UsuarioID)
            BEGIN
                SELECT 'El usuario no existe' AS Error;
                RETURN;
            END

            IF NOT EXISTS (SELECT 1 FROM Rol WHERE RolID = @RolID)
            BEGIN
                SELECT 'El rol no existe' AS Error;
                RETURN;
            END

            IF @Contrasena IS NOT NULL AND LTRIM(RTRIM(@Contrasena)) <> ''
            BEGIN
                UPDATE Usuario
                SET Contrasena = @Contrasena
                WHERE UsuarioID = @UsuarioID;
            END

            IF EXISTS (SELECT 1 FROM UsuarioRol WHERE UsuarioID = @UsuarioID)
            BEGIN
                UPDATE UsuarioRol
                SET RolID = @RolID
                WHERE UsuarioID = @UsuarioID;
            END
            ELSE
            BEGIN
                INSERT INTO UsuarioRol (UsuarioID, RolID)
                VALUES (@UsuarioID, @RolID);
            END

            SELECT 'Usuario actualizado correctamente' AS Mensaje;
        END

        ELSE IF @Opcion = 3
        BEGIN
            SELECT
                U.UsuarioID,
                P.PersonaID,
                CONCAT(
                    P.PrimerNombre, ' ',
                    ISNULL(P.SegundoNombre, ''), ' ',
                    P.PrimerApellido, ' ',
                    ISNULL(P.SegundoApellido, '')
                ) AS NombreCompleto,
                P.Email,
                R.RolID,
                R.NombreRol,
                U.EstadoID
            FROM Usuario U
            INNER JOIN Persona P ON U.PersonaID = P.PersonaID
            LEFT JOIN UsuarioRol UR ON U.UsuarioID = UR.UsuarioID
            LEFT JOIN Rol R ON UR.RolID = R.RolID
            ORDER BY P.PrimerApellido, P.PrimerNombre;
        END

    END TRY
    BEGIN CATCH
        SELECT 
            ERROR_MESSAGE() AS Error,
            ERROR_LINE() AS Linea;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_VALIDAR_REGISTRO_OTP]    Script Date: 1/6/2026 11:10:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_VALIDAR_REGISTRO_OTP]
    @Email NVARCHAR(100),
    @Token NVARCHAR(6)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdTemporal INT;
    DECLARE @JsonPayload NVARCHAR(MAX);
    DECLARE @FechaExpiracion DATETIME;
    DECLARE @Validado BIT;
    DECLARE @Intentos INT;
    DECLARE @TokenGuardado NVARCHAR(6);

    -- 1. Buscar únicamente el token activo (no usado) más reciente
    SELECT TOP 1 
        @IdTemporal = Id, 
        @JsonPayload = DatosJsonPayload,
        @FechaExpiracion = FechaExpiracion,
        @Validado = Validado,
        @Intentos = IntentosFallidos,
        @TokenGuardado = Token
    FROM dbo.TokenRegistroTemporal
    WHERE Email = @Email
      AND Validado = 0
    ORDER BY FechaCreacion DESC;

    -- Validaciones preventivas de seguridad
    IF @IdTemporal IS NULL
    BEGIN
        SELECT 'Error' AS Status, 'No hay códigos de verificación activos para este correo.' AS Mensaje, NULL AS JsonPayload;
        RETURN;
    END

    IF @Intentos >= 3
    BEGIN
        SELECT 'Error' AS Status, 'Has superado el número máximo de intentos permitidos. Solicita un código nuevo.' AS Mensaje, NULL AS JsonPayload;
        RETURN;
    END

    IF GETDATE() > @FechaExpiracion
    BEGIN
        SELECT 'Error' AS Status, 'El código de verificación ha expirado. Por favor, solicita uno nuevo.' AS Mensaje, NULL AS JsonPayload;
        RETURN;
    END

    -- 2. Comparación binaria segura para validar el token digitado
    IF @TokenGuardado COLLATE Latin1_General_BIN <> @Token COLLATE Latin1_General_BIN
    BEGIN
        UPDATE dbo.TokenRegistroTemporal 
        SET IntentosFallidos = IntentosFallidos + 1 
        WHERE Id = @IdTemporal;

        SELECT 'Error' AS Status, 'El código de verificación introducido es incorrecto.' AS Mensaje, NULL AS JsonPayload;
        RETURN;
    END

    -- 3. ÉXITO: El token es correcto. Lo quemamos/validamos de una vez.
    BEGIN TRY
        UPDATE dbo.TokenRegistroTemporal 
        SET Validado = 1 
        WHERE Id = @IdTemporal;

        -- Devolvemos el Payload para que el Backend tenga los datos de la Persona/Usuario
        SELECT 'Success' AS Status, '¡Código verificado con éxito!' AS Mensaje, @JsonPayload AS JsonPayload;
    END TRY
    BEGIN CATCH
        SELECT 'Error' AS Status, 'Fallo crítico al actualizar el estado del token: ' + ERROR_MESSAGE() AS Mensaje, NULL AS JsonPayload;
    END CATCH
END
GO
USE [master]
GO
